<footer>
  <div id="footer_content">
    <ul>
      <li>2013 Bitusenet</li>
      {% if aff %}
        {% if uid %}
        <li><a href="/contact?aff={{aff}}&uid={{uid}}">Contact</a></li>
        <li><a href="/faq?aff={{aff}}&uid={{uid}}">FAQ</a></li>
	{% else %}
        <li><a href="/contact?aff={{aff}}">Contact</a></li>
        <li><a href="/faq?aff={{aff}}">FAQ</a></li>
	{% end %}
      {% else %}
      <li><a href="/contact">Contact</a></li>
      <li><a href="/faq">FAQ</a></li>
      {% end %}
    </ul>
  </div>
</footer>
