<!DOCTYPE html>

<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Bitusenet</title>
    <meta name="description" content="Unlimited Usenet access for bitcoins. 50 threads, SSL encryption, 1000 day retention, unlimited downloads. 1 months access for 1 bitcoin.">
    <meta name="author" content="mike@karmacode.com">
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon-57-precomposed.png">
  </head>
