{% include "modules/head.html" %}

  <body>
    <header>
      <div id="header_content">
	<a href="/"><img src="/static/images/logomedium.png" width="100" height="100" id="logo"></a>
	{% include "modules/nav.html" %}	
      </div>
    </header>

    <section id="signup" style="margin-bottom: 250px">
      <div id="signup_content">
	<div style="margin:40px 0 30px; text-align: center;">
	  <h1>Contact Us</h1>
	  <p style="margin-top: 10px; color: white;">Connection troubles? Questions? Contact us 24/7</p>
	</div>

	<hr>

	<ul style="margin: 75px 0;">
	  <li><label>Email Address</label><h3>support@bitusenet.com</h3></li>
	</ul>
      </div>
    </section>

    {% include "modules/footer.html" %}
  </body>
</html>
