{% include "modules/head.html" %}

  <body>
    <header>
      <div id="header_content">
	<a href="/"><img src="/static/images/logomedium.png" width="100" height="100" id="logo"></a>
	{% include "modules/nav.html" %}	
      </div>
    </header>

    <section id="signup">

      <div id="signup_content">
	<div style="margin:40px 0 30px; text-align: center;">
	  <h1>Members Dashboard</h1>
	</div>

	<hr>

	<ul style="margin: 75px 0;">
	  <li><label>Username</label><h3>{{current_user['username']}}</h3></li>

	  <li><label>Server</label><h3>news.bitusenet.com</h3></li>
	  <li><label>Ports</label><h3>53, 80, 119, 443, 8080, 9000</h3></li>
	  <li><label>SSL Port</label><h3>563</h3></li>
	  <li><label>Connections</label><h3>50</h3></li>
	  <li><label>Retention</label><h3>1100 days</h3></li>
	  <li><label>Problems?</label><h3>support@bitusenet.com</h3></li>
	  <li><label>Password</label><a href="https://www.bitusenet.com/reset"><h3 style="color:white;">Reset Password</h3></a></li>
	</ul>

      </div>
    </section>

    {% include "modules/footer.html" %}
  </body>
</html>
