{% include "modules/head.html" %}

  <body>

    <header>
      <div id="header_content">
	{% if aff %}
	<a href="/?aff={{aff}}"><img src="/static/images/logo.png" id="logo" width="170"></a>
	{% else %}
	<a href="/"><img src="/static/images/logo.png" id="logo" width="170"></a>
	{% end %}
	{% include "modules/nav.html" %}
      </div>
    </header>

    <section id="server">
      <div id="server_content">
	<img id="xraid" src="/static/images/server.jpg" width="560">
	<div id="sideserver">
	  <h1>UNLIMITED<br><strong>USENET</strong><br> ACCESS FOR<br> 0.60 <strong>BITCOIN.</strong></h1>
	  {% if aff %}
	  <a href="https://www.bitusenet.com/signup?aff={{aff}}" class="btn btn-large signuppage">Sign Up</a>
	  {% else %}
	  <a href="https://www.bitusenet.com/signup" class="btn btn-large signuppage">Sign Up</a>
	  {% end %}
	</div>
      </div>
    </section>

    <section id="call">
      <div id="call_content">
	<h3>One months access for only 0.60 bitcoin</h3>
	{% if aff %}
	<a href="https://www.bitusenet.com/signup?aff={{aff}}" class="signuppage"><img src="/static/images/bitcoinaccepted.png" width="200"></a>
	{% else %}
	<a href="https://www.bitusenet.com/signup" class="signuppage"><img src="/static/images/bitcoinaccepted.png" width="200"></a>
	{% end %}
      </div>
    </section>

    <section id="firstrow">
      <div id="firstrow_content">
	<div class="column" style="width: 250px;">
	  <h4>SSL Encryption</h4>
	  <p>256 bit SSL Encryption on all downloads.</p>
	</div>
	<div class="column">
	  <h4>1200 Day Retention</h4>
	  <p>Every binary post to all the major newsgroups from the last 1200 days.</p>
	</div>
	<div class="column" style="width: 250px;">
	  <h4>50 connections</h4>
	  <p>50 connections to our server ensure you max out your internet connection.</p>
	</div>
      </div>
    </section>

    <section id="secondrow">
      <div id="secondrow_content">
	<h3>All the best binary newsgroups at the best speeds possible</h3>
      </div>
    </section>

    {% include "modules/footer.html" %}
    {% include "modules/scripts.html" %}
    <script>
      $(document).ready(function() {
        mixpanel.track("homepage");
      });
    </script>
  </body>
</html>
