{% include "modules/head.html" %}

  <body>
    <header>
      <div id="header_content">
	{% if aff %}
	  {% if uid %}
	  <a href="/?aff={{aff}}&uid={{uid}}"><img src="/static/images/logomedium.png" width="100" height="100" id="logo"></a>
	  {% else %}
	  <a href="/?aff={{aff}}"><img src="/static/images/logomedium.png" width="100" height="100" id="logo"></a>
	  {% end %}
	{% else %}
	<a href="/"><img src="/static/images/logomedium.png" width="100" height="100" id="logo"></a>
	{% end %}
	{% include "modules/nav.html" %}	
      </div>
    </header>

    <section id="signup">
      <div id="signup_content">

	<div style="margin:40px 0 30px; text-align: center;">
	  <h1>{{address}}</h1>
	  <p style="margin-top: 10px; color: white;">Send the 0.35 bitcoins to this address. You'll be able to login as soon as we receive the first confirmation.</p>
	</div>
	<hr>

	<ul style="margin: 75px 0;">
	  <li><label>BTC Address</label><h3>{{address}}</h3></li>
	  <li><label>Server</label><h3>news.bitusenet.com</h3></li>
	  <li><label>Username</label><h3>{{current_user['username']}}</h3></li>
	  <li><label>Ports</label><h3>53, 80, 119, 443, 8080, 9000</h3></li>
	  <li><label>SSL Port</label><h3>563</h3></li>
	  <li><label>Connections</label><h3>50</h3></li>
	  <li><label>Retention</label><h3>1200 days</h3></li>
	  <li><label>Problems?</label><h3>support@bitusenet.com</h3></li>
	</ul>


      </div>
    </section>

    {% include "modules/footer.html" %}
    <script>
      $(document).ready(function() {
        mixpanel.track("success");
      });
    </script>
  </body>
</html>
